# Base ------------------------------------------------------------------------
gitpython
ipython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1  # Use headless version for ARM64, no GUI dependencies
Pillow>=7.1.2
psutil
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
thop>=0.1.1
torch>=1.7.0  # Ensure compatibility with ARM64 architecture; may need to compile from source
torchvision>=0.8.1  # Same as above
tqdm>=4.64.0
protobuf<=3.20.1  # For compatibility
ultralytics>=0.6.2
ultralytics-thop==2.0.14
py-cpuinfo==9.0.0
python-dotenv

# Logging ---------------------------------------------------------------------
tensorboard>=2.4.1  # For logging purposes

# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras ----------------------------------------------------------------------
albumentations>=1.0.3  # For data augmentation
pycocotools>=2.0       # For COCO dataset format support
